@mixin display-type($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    @include display-type(flex, center, center);
}
.card {
    position: relative;
    width: 600px;
    height: 350px;
    margin-top: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #d41e31, #d91f8f);
    @include display-type(flex, flex-start, center);

    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        height: 400px;
    }
    &:hover img{
        left: 80%;
        height: 500px;
    }
    .content {
        width: 50%;
        position: relative;
        left: 20%;
        padding: 20px 20px 20px 40px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        
        h2 {
            color: #fff;
            text-transform: uppercase;
            font-size: 26px;
        }
        p {
            color: #fff;
            margin-top: 5px;
        }
        a {
            color: #111;
            background: #fff;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;

        }
    }
    &:hover .content {
        opacity: 1;
        visibility: visible;
        left: 0%;
    }
}

@media screen and (max-width : 950px){
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;

        &:hover {
            height: 600px;
        }
        &:hover img{
            left: 50%;
            height: 350px;
        }

        .content {
            width: 100%;
            left: 0%;
            padding: 40px;
        }
    }
}

@media screen and (max-width : 420px){
    .card {
        .content {
            padding: 30px;
        }
        &:hover img{
            height: 400px;
        }
    }
}