@import "variables"; 

body {
    background-color: $bg-color;
}
table {
    border: 2px solid teal;
    border-collapse: collapse;
    thead {
        border: 2px solid teal;
        td {
            border: 2px solid red;
        }
    }
    tbody {
        tr {
            border: 2px solid tomato;
            td {
                padding: 5px;
                text-align: center;
                color: violet;
                border: 2px solid red;
            }
        }
    }
}