$header-family: Stylish,cursive;
$box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
$background: linear-gradient(90deg, #fdfcfb 0%,#e2d1c3 100% );
$card-bg: linear-gradient(90deg, #b7f8db 0%,#50a7c2 100% );
$border-style: 2px solid #d3d3d3;